<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Iframe Example</title>
</head>
<body>
  <h1>Iframe with Query String Example</h1>
  <!-- Construct the iframe src with a query string -->
  <iframe src="<%= iframeSrc %>?token=<%= encodeURIComponent(token) %>" width="600" height="400"></iframe>
</body>
</html>