<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Aviator Iframe</title>

    <meta name="viewport"
        content="width=device-width, height=device-height, viewport-fit=cover, user-scalable=no, initial-scale=1" />

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        iframe {
            border: none;
            width: 100dvw;
            height: 100dvh;
        }
    </style>
</head>

<body>
    <% let queryParams = '?token=' + encodeURIComponent(token) + '&providerId=' + encodeURIComponent(providerId); %>
    <iframe src="<%= iframeSrc + queryParams %>"></iframe>
</body>

</html>